.my-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}


.header{
  height: 70%;
  width: 50%;
  margin: auto;
  align-content: center;
 margin-top: 5%;
}

.headerr{
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}
