<mat-toolbar color="primary">
  <span>REGISTER</span>
</mat-toolbar>
<mat-card class="my-card" class="header">
  <mat-card-content>
    <img mat-card-image src="https://zoeproject.eu/common/img/login.jpg" style="height: 4%; width:20%; align-items: center;">
    <form class="my-form" [formGroup]="registerForm" class="headerr">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First Name"
          name="text"
          formControlName="firstName"
          [ngClass]="{
            'ng-invalid ng-dirty':
              registerFormControl.firstName.touched &&
              registerFormControl.firstName.errors
          }"
        />
        <div
          *ngIf="
            registerFormControl.firstName.touched &&
            registerFormControl.firstName.errors
          "
          class="invalid-feedback"
        >
          <div *ngIf="registerFormControl.firstName.errors.required">
            Firstname is required
          </div>
        </div>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          name="text"
          formControlName="lastName"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          name="email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          name="password"
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          placeholder="password"
          name="password"
          formControlName="confirmPassword"
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          type="submit"
          (click)="register()"
          color="primary"
          [disabled]="registerFormControl.invalid"
        >
          Register
        </button>
      </mat-card-actions>
      <mat-card-actions>
        <h2>alredy registerd? Please login</h2>
        <button
          mat-raised-button
          (click)="login()"
          color="primary"
          [disabled]="registerFormControl.invalid"
        >
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
