table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.header{
  height: 70%;
  width: 70%;
  margin: auto;

}

.logoutbtn {
  margin-left: 80%;
}
